@model IEnumerable<cricZee.Match>

@{
    ViewData["Title"] = "Index";
}
<head>

    <link href="~/css/Match.css" rel="stylesheet" />
</head>
<body>
    <table class="table table-success table-striped">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team1)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Team2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TossWinner)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Winner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WinByRuns)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WinByWickets)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerOfMatch)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Team1)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Team2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TossWinner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Winner)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.WinByRuns)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WinByWickets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerOfMatch)
                    </td>


                </tr>
            }
        </tbody>

    </table>
</body>
