@model IEnumerable<cricZee.Models.TopBowler>

@{
    ViewData["Title"] = "Top Bowlers";
}
<head>
    <link href="~/css/Match.css" rel="stylesheet" />
</head>
<body>
    <h3 style="color:ghostwhite">Top Bowlers</h3>

    <img src="~/lib/bowler.jpg" />
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Player)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matches)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wickets)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matches)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wickets)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>